html, body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    }
    
    .container{
        text-align: center;
        .list{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
    
            .bloc{
                width: 150px;
                height: 150px;
                background-color: lightsalmon;
                margin: 10px;
            }
        }
    
        .actions{
            button{
                border: none;
                background: #188ae6;
                color: #ffffff;
                box-shadow: none;
                text-transform: uppercase;
                padding: 8px 18px;
                cursor: pointer;
            }
        }
    }